<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.figurechatcommunity">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 允许联网 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" /> <!-- TODO 1.4、配置IM SDK需要的权限 -->
    <!-- 监听网络的变化 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 通知震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Account_Base.App.Theme.NoTitle">
        <activity android:name=".UserInfoActivity"></activity>
        <activity android:name=".SearchUserActivity" />
        <activity android:name=".NewFriendActivity" />
        <activity android:name=".NearPeopleActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".ui.PaopaoDetailActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".PhotoActivity" />
        <activity android:name=".FigureReleaseActivity" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/fabbg" />

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.example.figurechatcommunity.BmobContentProvider" />

        <activity android:name=".PersonalLabelActivity" />
        <activity
            android:name=".ChangePasswordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="修改密码"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Account_Base.App.Theme.NoTitle"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".PersonDesign" />
        <activity android:name=".FormPage" />
        <activity android:name=".LoadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="登录"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Account_Base.App.Theme.NoTitle"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".RegisterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="注册"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Account_Base.App.Theme.NoTitle"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ForgetPwdActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="密码找回"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Account_Base.App.Theme.NoTitle"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- TODO 集成：1.5、配置IM SDK需要的广播和服务 -->
        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver">
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.bmob.newim.core.service.BmobIMService"
            android:process=":bmobcore" />
        <service
            android:name="cn.bmob.newim.core.service.NotifyService"
            android:process=":bmobcore" />
        <service android:name="cn.bmob.newim.core.service.ReConnectService" />
        <service android:name="cn.bmob.newim.core.service.HeartBeatService" /> <!-- TODO 集成：1.3、配置Bmob平台的应用密钥 -->
        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="96c43f0cfd08ba6be6ab87b6b95adfc6" />
    </application>

</manifest>